# ROS 2
build/
install/
log/

# Python
__pycache__/
*.pyc

# Models
checkpoints/
*.pth
*.pt
*.ckpt

# Docker artifacts
*.tar

# OS
.DS_Store

# specific
contact_graspnet_docker/backup

# for ros2_server branch
contact_graspnet/
contact_graspnet_docker/
launch/backup
contact_graspnet_ros2/backup